body {
    color: #111111;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

$keycolor: #ac873d;

.top {
    background-image: url('../img/movie_pc.png');
    background-size: cover;
    width: 100%;
    .top_title {
        margin-bottom: 150px;
        text-align: center;
        img {
            margin: 245px auto 45px auto;
            width: 600px;
        }
        p {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .playmovie {
        margin-bottom: 35px;
        .playmovie_button {
            background-color: #111;
            height: 60px;
            text-align: center;
            margin: 0 auto;
            width: 270px;
            a {
                color: #fff;
                display: block;
                font-family: 'Futura';
                font-weight: 600;
                line-height: 60px;
                text-decoration: none;
            }
        }
    }
    .scroll {
        padding-bottom: 20px;
        .scroll_button {
            text-align: center;
            img {
                width: 50px;
            }
        }
    }
}

$var: 1200px;
.message {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 70px;
    padding: 0 calc((100% - 1200px) / 2);
    .message_leftside {
        margin: 80px 0 0 0;
        .message_leftside_main {
            width: 348px;
            margin-bottom: 30px;
        }
        .message_leftside_caption {
            font-size: 13px;
            font-weight: bold;
            line-height: 2;
        }
    }
    .message_rightside {
        margin: 80px 0 0 0;
        width: 580px;
        .message_rightside_main {
            font-size: 24px;
            font-weight: bold;
            line-height: 2;
            margin-bottom: 20px;
        }
        .message_rightside_caption {
            font-size: 15px;
            line-height: 1.86;
            margin-bottom: 15px;

        }
    }
}

.registration {
    background-color: #111;
    text-align: center;
    .registration_area {
        padding-top: 70px;
        .registration_area_open {
            margin-bottom: 30px;
            .registration_area_open_p {
                color: #fff;
                font-family: 'Futura';
                font-size: 40px;
                font-weight: 500;
                span {
                    font-size: 24px;
                }
            }
        }
        .registration_area_caption {
            margin-bottom: 30px;
            .registration_area_caption_p {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                line-height: 2;
            }
        }
        .registration_area_input {
            display: flex;
            justify-content: center;
            padding-bottom: 80px;
            input {
                padding-left: 30px;
                font-size: 16px;
                height: 60px;
                width: 900px;
            }
            .registration_area_input_button {
                background-color: #b34f36;
                text-align: center;
                position: relative;
                width: 270px;
                a {
                    color: #fff;
                    display: block;
                    font-weight: bold;
                    text-decoration: none;
                    line-height: 60px;
                }
                img {
                    position: absolute;
                    width: 20px;
                    top: 23px;
                    right: 20px;
                }
            }
        }
    }
}

.wrapper {
    background-color: #f4f4f3;
}

main {
    margin: 0 auto;
    width: 1200px;
}

.section_title {
    margin: 0 0 40px 0;
    padding: 30px 0 0 0;
    width: 100%;
    p {
        font-size: 15px;
        line-height: 1.86;
    }
    .section_title_h2-img {
        display: flex;
        justify-content: space-between;
        margin: 0 0 60px 0;
        h2 {
            font-family: 'Futura';
            font-size: 40px;
            font-weight: 600;
        }
        p {
            align-self: flex-end;
            color: #ac873d;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.platform_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .usertype {
        background-color: #fff;
        text-align: center;
        width: 270px;
        .usertype_title {
            color: $keycolor;
            font-size: 14px;
            font-weight: bold;
            margin: 100px 0 40px 0;
        }
        .usertype_image {
            margin-bottom: 50px;
            img {
                margin-bottom: 10px;
                width: 140px;
            }
            p {
                color: #929292;
                font-size: 11px;
                font-weight: bold;
            }
        }
    }
    .mrm {
        width: 890px;
        .box {
            background-color: #fff;
            display: flex;
            height: auto;
            justify-content: space-between;
            margin-bottom: 1px;
            padding: 40px;
            .box_leftside {
                .box_leftside_top {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    h3 {
                        font-family: 'Futura';
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .box_leftside_top_image {
                        display: flex;
                        align-items: center;
                        .box_leftside_top_image_p {
                            font-size: 11px;
                            font-weight: bold;
                            margin-right: 12px;
                        }
                        .box_leftside_top_image_img {
                            width: 127px;
                        }
                    }
                }
                .box_leftside_caption {
                    background-color: #ededed;
                    height: 40px;
                    margin-top: 16px;
                    position: relative;
                    width: 383px;
                    p {
                        margin-left: 18px;
                        font-size: 12px;
                        line-height: 40px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: -21px;
                        left: 18px;
                        width: 0px;
                        height: 0px;
                        margin: auto;
                        border-style: solid;
                        border-color: transparent transparent #ededed transparent;
                        border-width: 11px;
                        z-index: 50;
                    }
                }
            }
            .box_rightside {
                font-size: 14px;
                width: 410px;
                .box_rightside_title {
                    color: $keycolor;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .box_rightside_explain {
                    line-height: 1.71;
                }
            }
        }
    }
}